html {
    box-sizing: border-box;
}

body {
    font-family: serif;
    font-size: 18px;
}

.container {
    height: auto;
    width: 50%;
    background-color: #dedede;
    border-radius: 25px;
    margin: auto;
    padding: 5px 20px 10px;
}

h1 {
    font-family: Tahoma, sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.home-list {
    display: flex;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.home-list li { 
    margin: 0.5em 2em;
}

.home-list li a, .home-list li a:visited{
    text-decoration: none;
    color: black;
    background-color: #4169e180;
    padding: 0.5em;
    border-radius: 5px;
}

.home-list li a:hover {
    text-decoration: none;
    background-color: royalblue;
    color: black;
    padding: 0.5em;
    border-radius: 5px;
}

h2 {
    font-family: Tahoma, sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-family: Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

li {
    line-height: 26px;
}

.button, .button:visited {
    height: auto;
    width: 100px;
    background-color: #dedede;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin: auto;
    text-align: center;
    border-width: 1px;
    text-decoration: none;
    color:black
}

.button:hover {
    background-color: #bcbcbc;
}

img {
    width: 400px;
    margin: 20px;
    border: 0px solid #00000000;
    border-radius: 10px;
}

.header-desc {
    display: inline-flex;
    margin: auto;
    flex-direction: row-reverse;
}

.instr {
    display: flex;
    flex-direction: column;
    margin-top: -120px;
}