html {
    box-sizing: border-box;
}

body {
    font-family: serif;
    font-size: 18px;
}

.container {
    height: auto;
    width: 50%;
    background-color: #dedede;
    border-radius: 25px;
    margin: auto;
    padding: 5px 20px 10px;
}

h1 {
    font-family: Tahoma, sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.home-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 26px;
}

h2 {
    font-family: Tahoma, sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-family: Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

li {
    line-height: 26px;
}

.button, .button:visited {
    height: auto;
    width: 100px;
    background-color: #dedede;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin: auto;
    text-align: center;
    border-width: 1px;
    text-decoration: none;
    color:black
}

.button:hover {
    background-color: #bcbcbc;
}

img {
    width: 400px;
    margin: 20px;
    border: 0px solid #00000000;
    border-radius: 10px;
}

.header-desc {
    display: inline-flex;
    margin: auto;
    flex-direction: row-reverse;
}

.instr {
    display: flex;
    flex-direction: column;
    margin-top: -120px;
}